.App {
  
}
body {
  background-color: black;
  overflow-x:hidden ;
}
h1{
  color: red;
  font-family: poop;
  margin-left: 8vw;
  font-size: 5vw;
  width: 50%;
  margin-top: 3vw;
}
h3{
  font-family: poop;
  color:#11CAF2;
  margin-left: 8vw;
  font-size: 2vw;
  margin-top: 0vw;
}
p{
  font-family: poop;
  color: #11CAF2;
  margin-left: 8vw;
  margin-top: 12vw;
  width:55%;
  font-size:1.2vw;
}
@font-face {
  font-family: poop;
  src: url(./font/conthrax-sb.otf);
}


.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  /* Adjust as needed */
}

.right-btn {
  margin-left: auto;
  background-color: #11CAF2;
  width: 10vw;
  height: 3vw;
  border-radius: 10px;
  border: none;
  color: red;
  font-family: poop;
  font-size: 1vw;
  margin-right: 5vw;
}
.columns-container {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  margin-left: 75px;
  padding: 3rem;
  font-family: poop;
  gap: 8vw;
}

.column {
  display: flex;
  align-items: center;
  margin-right: 20px;
  /* Adjust as needed */
}

.column-image {
  width: 60vh;
  /* Adjust as needed */
  height: 40vh;
  /* Maintain aspect ratio */
  margin-right: 20px;
  /* Adjust as needed */
    border-radius: 20px;
}

.column-text {
  flex: 1;
  /* Take remaining space */
  color: white;
}